.p-0--sm {
  padding: 0px;
}

.p-4--sm {
  padding: 4px;
}

.p-8--sm {
  padding: 8px;
}

.p-12--sm {
  padding: 12px;
}

.p-16--sm {
  padding: 16px;
}

.p-20--sm {
  padding: 20px;
}

.p-24--sm {
  padding: 24px;
}

.p-32--sm {
  padding: 32px;
}

.p-40--sm {
  padding: 40px;
}

.p-48--sm {
  padding: 48px;
}

.p-64--sm {
  padding: 64px;
}

.p-80--sm {
  padding: 80px;
}

@media (min-width: 500px) {
  .p-0--md {
    padding: 0px;
  }

  .p-4--md {
    padding: 4px;
  }

  .p-8--md {
    padding: 8px;
  }

  .p-12--md {
    padding: 12px;
  }

  .p-16--md {
    padding: 16px;
  }

  .p-20--md {
    padding: 20px;
  }

  .p-24--md {
    padding: 24px;
  }

  .p-32--md {
    padding: 32px;
  }

  .p-40--md {
    padding: 40px;
  }

  .p-48--md {
    padding: 48px;
  }

  .p-64--md {
    padding: 64px;
  }

  .p-80--md {
    padding: 80px;
  }
}
@media (min-width: 900px) {
  .p-0--lg {
    padding: 0px;
  }

  .p-4--lg {
    padding: 4px;
  }

  .p-8--lg {
    padding: 8px;
  }

  .p-12--lg {
    padding: 12px;
  }

  .p-16--lg {
    padding: 16px;
  }

  .p-20--lg {
    padding: 20px;
  }

  .p-24--lg {
    padding: 24px;
  }

  .p-32--lg {
    padding: 32px;
  }

  .p-40--lg {
    padding: 40px;
  }

  .p-48--lg {
    padding: 48px;
  }

  .p-64--lg {
    padding: 64px;
  }

  .p-80--lg {
    padding: 80px;
  }
}
@media (min-width: 1200px) {
  .p-0--xl {
    padding: 0px;
  }

  .p-4--xl {
    padding: 4px;
  }

  .p-8--xl {
    padding: 8px;
  }

  .p-12--xl {
    padding: 12px;
  }

  .p-16--xl {
    padding: 16px;
  }

  .p-20--xl {
    padding: 20px;
  }

  .p-24--xl {
    padding: 24px;
  }

  .p-32--xl {
    padding: 32px;
  }

  .p-40--xl {
    padding: 40px;
  }

  .p-48--xl {
    padding: 48px;
  }

  .p-64--xl {
    padding: 64px;
  }

  .p-80--xl {
    padding: 80px;
  }
}
.m-0--sm {
  margin: 0px;
}

.m-4--sm {
  margin: 4px;
}

.m-8--sm {
  margin: 8px;
}

.m-12--sm {
  margin: 12px;
}

.m-16--sm {
  margin: 16px;
}

.m-20--sm {
  margin: 20px;
}

.m-24--sm {
  margin: 24px;
}

.m-32--sm {
  margin: 32px;
}

.m-40--sm {
  margin: 40px;
}

.m-48--sm {
  margin: 48px;
}

.m-64--sm {
  margin: 64px;
}

.m-80--sm {
  margin: 80px;
}

@media (min-width: 500px) {
  .m-0--md {
    margin: 0px;
  }

  .m-4--md {
    margin: 4px;
  }

  .m-8--md {
    margin: 8px;
  }

  .m-12--md {
    margin: 12px;
  }

  .m-16--md {
    margin: 16px;
  }

  .m-20--md {
    margin: 20px;
  }

  .m-24--md {
    margin: 24px;
  }

  .m-32--md {
    margin: 32px;
  }

  .m-40--md {
    margin: 40px;
  }

  .m-48--md {
    margin: 48px;
  }

  .m-64--md {
    margin: 64px;
  }

  .m-80--md {
    margin: 80px;
  }
}
@media (min-width: 900px) {
  .m-0--lg {
    margin: 0px;
  }

  .m-4--lg {
    margin: 4px;
  }

  .m-8--lg {
    margin: 8px;
  }

  .m-12--lg {
    margin: 12px;
  }

  .m-16--lg {
    margin: 16px;
  }

  .m-20--lg {
    margin: 20px;
  }

  .m-24--lg {
    margin: 24px;
  }

  .m-32--lg {
    margin: 32px;
  }

  .m-40--lg {
    margin: 40px;
  }

  .m-48--lg {
    margin: 48px;
  }

  .m-64--lg {
    margin: 64px;
  }

  .m-80--lg {
    margin: 80px;
  }
}
@media (min-width: 1200px) {
  .m-0--xl {
    margin: 0px;
  }

  .m-4--xl {
    margin: 4px;
  }

  .m-8--xl {
    margin: 8px;
  }

  .m-12--xl {
    margin: 12px;
  }

  .m-16--xl {
    margin: 16px;
  }

  .m-20--xl {
    margin: 20px;
  }

  .m-24--xl {
    margin: 24px;
  }

  .m-32--xl {
    margin: 32px;
  }

  .m-40--xl {
    margin: 40px;
  }

  .m-48--xl {
    margin: 48px;
  }

  .m-64--xl {
    margin: 64px;
  }

  .m-80--xl {
    margin: 80px;
  }
}

/*# sourceMappingURL=index.css.map */
