.text-red--sm {
  color: #d50000;
}

.text-pink--sm {
  color: #c51162;
}

.text-purple--sm {
  color: #aa00ff;
}

.text-deep-purple--sm {
  color: #6200ea;
}

.text-indigo--sm {
  color: #304ffe;
}

.text-blue--sm {
  color: #2962ff;
}

.text-light-blue--sm {
  color: #0091ea;
}

.text-cyan--sm {
  color: #0091ea;
}

.text-teal--sm {
  color: #00bfa5;
}

.text-green--sm {
  color: #00c853;
}

.text-light-green--sm {
  color: #64dd17;
}

.text-lime--sm {
  color: #aeea00;
}

.text-yellow--sm {
  color: #ffd600;
}

.text-amber--sm {
  color: #ffab00;
}

.text-orange--sm {
  color: #ff6d00;
}

.text-deep-orange--sm {
  color: #dd2c00;
}

.text-brown--sm {
  color: #5d4037;
}

.text-grey--sm {
  color: #616161;
}

.text-blue-grey--sm {
  color: #455a64;
}

.text-black--sm {
  color: #000000;
}

.text-white--sm {
  color: #ffffff;
}

.text-red-900--sm {
  color: #aa0000;
}

.text-pink-900--sm {
  color: #9e0e4e;
}

.text-purple-900--sm {
  color: #8800cc;
}

.text-deep-purple-900--sm {
  color: #4e00bb;
}

.text-indigo-900--sm {
  color: #0125f0;
}

.text-blue-900--sm {
  color: #003fed;
}

.text-light-blue-900--sm {
  color: #0074bb;
}

.text-cyan-900--sm {
  color: #0074bb;
}

.text-teal-900--sm {
  color: #009984;
}

.text-green-900--sm {
  color: #00a042;
}

.text-light-green-900--sm {
  color: #50b112;
}

.text-lime-900--sm {
  color: #8bbb00;
}

.text-yellow-900--sm {
  color: #ccab00;
}

.text-amber-900--sm {
  color: #cc8900;
}

.text-orange-900--sm {
  color: #cc5700;
}

.text-deep-orange-900--sm {
  color: #b12300;
}

.text-brown-900--sm {
  color: #4a332c;
}

.text-grey-900--sm {
  color: #4e4e4e;
}

.text-blue-grey-900--sm {
  color: #374850;
}

.text-black-900--sm {
  color: black;
}

.text-white-900--sm {
  color: #cccccc;
}

@media (min-width: 500px) {
  .text-red--md {
    color: #d50000;
  }

  .text-pink--md {
    color: #c51162;
  }

  .text-purple--md {
    color: #aa00ff;
  }

  .text-deep-purple--md {
    color: #6200ea;
  }

  .text-indigo--md {
    color: #304ffe;
  }

  .text-blue--md {
    color: #2962ff;
  }

  .text-light-blue--md {
    color: #0091ea;
  }

  .text-cyan--md {
    color: #0091ea;
  }

  .text-teal--md {
    color: #00bfa5;
  }

  .text-green--md {
    color: #00c853;
  }

  .text-light-green--md {
    color: #64dd17;
  }

  .text-lime--md {
    color: #aeea00;
  }

  .text-yellow--md {
    color: #ffd600;
  }

  .text-amber--md {
    color: #ffab00;
  }

  .text-orange--md {
    color: #ff6d00;
  }

  .text-deep-orange--md {
    color: #dd2c00;
  }

  .text-brown--md {
    color: #5d4037;
  }

  .text-grey--md {
    color: #616161;
  }

  .text-blue-grey--md {
    color: #455a64;
  }

  .text-black--md {
    color: #000000;
  }

  .text-white--md {
    color: #ffffff;
  }

  .text-red-900--md {
    color: #aa0000;
  }

  .text-pink-900--md {
    color: #9e0e4e;
  }

  .text-purple-900--md {
    color: #8800cc;
  }

  .text-deep-purple-900--md {
    color: #4e00bb;
  }

  .text-indigo-900--md {
    color: #0125f0;
  }

  .text-blue-900--md {
    color: #003fed;
  }

  .text-light-blue-900--md {
    color: #0074bb;
  }

  .text-cyan-900--md {
    color: #0074bb;
  }

  .text-teal-900--md {
    color: #009984;
  }

  .text-green-900--md {
    color: #00a042;
  }

  .text-light-green-900--md {
    color: #50b112;
  }

  .text-lime-900--md {
    color: #8bbb00;
  }

  .text-yellow-900--md {
    color: #ccab00;
  }

  .text-amber-900--md {
    color: #cc8900;
  }

  .text-orange-900--md {
    color: #cc5700;
  }

  .text-deep-orange-900--md {
    color: #b12300;
  }

  .text-brown-900--md {
    color: #4a332c;
  }

  .text-grey-900--md {
    color: #4e4e4e;
  }

  .text-blue-grey-900--md {
    color: #374850;
  }

  .text-black-900--md {
    color: black;
  }

  .text-white-900--md {
    color: #cccccc;
  }
}
@media (min-width: 900px) {
  .text-red--lg {
    color: #d50000;
  }

  .text-pink--lg {
    color: #c51162;
  }

  .text-purple--lg {
    color: #aa00ff;
  }

  .text-deep-purple--lg {
    color: #6200ea;
  }

  .text-indigo--lg {
    color: #304ffe;
  }

  .text-blue--lg {
    color: #2962ff;
  }

  .text-light-blue--lg {
    color: #0091ea;
  }

  .text-cyan--lg {
    color: #0091ea;
  }

  .text-teal--lg {
    color: #00bfa5;
  }

  .text-green--lg {
    color: #00c853;
  }

  .text-light-green--lg {
    color: #64dd17;
  }

  .text-lime--lg {
    color: #aeea00;
  }

  .text-yellow--lg {
    color: #ffd600;
  }

  .text-amber--lg {
    color: #ffab00;
  }

  .text-orange--lg {
    color: #ff6d00;
  }

  .text-deep-orange--lg {
    color: #dd2c00;
  }

  .text-brown--lg {
    color: #5d4037;
  }

  .text-grey--lg {
    color: #616161;
  }

  .text-blue-grey--lg {
    color: #455a64;
  }

  .text-black--lg {
    color: #000000;
  }

  .text-white--lg {
    color: #ffffff;
  }

  .text-red-900--lg {
    color: #aa0000;
  }

  .text-pink-900--lg {
    color: #9e0e4e;
  }

  .text-purple-900--lg {
    color: #8800cc;
  }

  .text-deep-purple-900--lg {
    color: #4e00bb;
  }

  .text-indigo-900--lg {
    color: #0125f0;
  }

  .text-blue-900--lg {
    color: #003fed;
  }

  .text-light-blue-900--lg {
    color: #0074bb;
  }

  .text-cyan-900--lg {
    color: #0074bb;
  }

  .text-teal-900--lg {
    color: #009984;
  }

  .text-green-900--lg {
    color: #00a042;
  }

  .text-light-green-900--lg {
    color: #50b112;
  }

  .text-lime-900--lg {
    color: #8bbb00;
  }

  .text-yellow-900--lg {
    color: #ccab00;
  }

  .text-amber-900--lg {
    color: #cc8900;
  }

  .text-orange-900--lg {
    color: #cc5700;
  }

  .text-deep-orange-900--lg {
    color: #b12300;
  }

  .text-brown-900--lg {
    color: #4a332c;
  }

  .text-grey-900--lg {
    color: #4e4e4e;
  }

  .text-blue-grey-900--lg {
    color: #374850;
  }

  .text-black-900--lg {
    color: black;
  }

  .text-white-900--lg {
    color: #cccccc;
  }
}
@media (min-width: 1200px) {
  .text-red--xl {
    color: #d50000;
  }

  .text-pink--xl {
    color: #c51162;
  }

  .text-purple--xl {
    color: #aa00ff;
  }

  .text-deep-purple--xl {
    color: #6200ea;
  }

  .text-indigo--xl {
    color: #304ffe;
  }

  .text-blue--xl {
    color: #2962ff;
  }

  .text-light-blue--xl {
    color: #0091ea;
  }

  .text-cyan--xl {
    color: #0091ea;
  }

  .text-teal--xl {
    color: #00bfa5;
  }

  .text-green--xl {
    color: #00c853;
  }

  .text-light-green--xl {
    color: #64dd17;
  }

  .text-lime--xl {
    color: #aeea00;
  }

  .text-yellow--xl {
    color: #ffd600;
  }

  .text-amber--xl {
    color: #ffab00;
  }

  .text-orange--xl {
    color: #ff6d00;
  }

  .text-deep-orange--xl {
    color: #dd2c00;
  }

  .text-brown--xl {
    color: #5d4037;
  }

  .text-grey--xl {
    color: #616161;
  }

  .text-blue-grey--xl {
    color: #455a64;
  }

  .text-black--xl {
    color: #000000;
  }

  .text-white--xl {
    color: #ffffff;
  }

  .text-red-900--xl {
    color: #aa0000;
  }

  .text-pink-900--xl {
    color: #9e0e4e;
  }

  .text-purple-900--xl {
    color: #8800cc;
  }

  .text-deep-purple-900--xl {
    color: #4e00bb;
  }

  .text-indigo-900--xl {
    color: #0125f0;
  }

  .text-blue-900--xl {
    color: #003fed;
  }

  .text-light-blue-900--xl {
    color: #0074bb;
  }

  .text-cyan-900--xl {
    color: #0074bb;
  }

  .text-teal-900--xl {
    color: #009984;
  }

  .text-green-900--xl {
    color: #00a042;
  }

  .text-light-green-900--xl {
    color: #50b112;
  }

  .text-lime-900--xl {
    color: #8bbb00;
  }

  .text-yellow-900--xl {
    color: #ccab00;
  }

  .text-amber-900--xl {
    color: #cc8900;
  }

  .text-orange-900--xl {
    color: #cc5700;
  }

  .text-deep-orange-900--xl {
    color: #b12300;
  }

  .text-brown-900--xl {
    color: #4a332c;
  }

  .text-grey-900--xl {
    color: #4e4e4e;
  }

  .text-blue-grey-900--xl {
    color: #374850;
  }

  .text-black-900--xl {
    color: black;
  }

  .text-white-900--xl {
    color: #cccccc;
  }
}
.bg-red--sm {
  background-color: #d50000;
}

.bg-pink--sm {
  background-color: #c51162;
}

.bg-purple--sm {
  background-color: #aa00ff;
}

.bg-deep-purple--sm {
  background-color: #6200ea;
}

.bg-indigo--sm {
  background-color: #304ffe;
}

.bg-blue--sm {
  background-color: #2962ff;
}

.bg-light-blue--sm {
  background-color: #0091ea;
}

.bg-cyan--sm {
  background-color: #0091ea;
}

.bg-teal--sm {
  background-color: #00bfa5;
}

.bg-green--sm {
  background-color: #00c853;
}

.bg-light-green--sm {
  background-color: #64dd17;
}

.bg-lime--sm {
  background-color: #aeea00;
}

.bg-yellow--sm {
  background-color: #ffd600;
}

.bg-amber--sm {
  background-color: #ffab00;
}

.bg-orange--sm {
  background-color: #ff6d00;
}

.bg-deep-orange--sm {
  background-color: #dd2c00;
}

.bg-brown--sm {
  background-color: #5d4037;
}

.bg-grey--sm {
  background-color: #616161;
}

.bg-blue-grey--sm {
  background-color: #455a64;
}

.bg-black--sm {
  background-color: #000000;
}

.bg-white--sm {
  background-color: #ffffff;
}

.bg-red-900--sm {
  background-color: #aa0000;
}

.bg-pink-900--sm {
  background-color: #9e0e4e;
}

.bg-purple-900--sm {
  background-color: #8800cc;
}

.bg-deep-purple-900--sm {
  background-color: #4e00bb;
}

.bg-indigo-900--sm {
  background-color: #0125f0;
}

.bg-blue-900--sm {
  background-color: #003fed;
}

.bg-light-blue-900--sm {
  background-color: #0074bb;
}

.bg-cyan-900--sm {
  background-color: #0074bb;
}

.bg-teal-900--sm {
  background-color: #009984;
}

.bg-green-900--sm {
  background-color: #00a042;
}

.bg-light-green-900--sm {
  background-color: #50b112;
}

.bg-lime-900--sm {
  background-color: #8bbb00;
}

.bg-yellow-900--sm {
  background-color: #ccab00;
}

.bg-amber-900--sm {
  background-color: #cc8900;
}

.bg-orange-900--sm {
  background-color: #cc5700;
}

.bg-deep-orange-900--sm {
  background-color: #b12300;
}

.bg-brown-900--sm {
  background-color: #4a332c;
}

.bg-grey-900--sm {
  background-color: #4e4e4e;
}

.bg-blue-grey-900--sm {
  background-color: #374850;
}

.bg-black-900--sm {
  background-color: black;
}

.bg-white-900--sm {
  background-color: #cccccc;
}

@media (min-width: 500px) {
  .bg-red--md {
    background-color: #d50000;
  }

  .bg-pink--md {
    background-color: #c51162;
  }

  .bg-purple--md {
    background-color: #aa00ff;
  }

  .bg-deep-purple--md {
    background-color: #6200ea;
  }

  .bg-indigo--md {
    background-color: #304ffe;
  }

  .bg-blue--md {
    background-color: #2962ff;
  }

  .bg-light-blue--md {
    background-color: #0091ea;
  }

  .bg-cyan--md {
    background-color: #0091ea;
  }

  .bg-teal--md {
    background-color: #00bfa5;
  }

  .bg-green--md {
    background-color: #00c853;
  }

  .bg-light-green--md {
    background-color: #64dd17;
  }

  .bg-lime--md {
    background-color: #aeea00;
  }

  .bg-yellow--md {
    background-color: #ffd600;
  }

  .bg-amber--md {
    background-color: #ffab00;
  }

  .bg-orange--md {
    background-color: #ff6d00;
  }

  .bg-deep-orange--md {
    background-color: #dd2c00;
  }

  .bg-brown--md {
    background-color: #5d4037;
  }

  .bg-grey--md {
    background-color: #616161;
  }

  .bg-blue-grey--md {
    background-color: #455a64;
  }

  .bg-black--md {
    background-color: #000000;
  }

  .bg-white--md {
    background-color: #ffffff;
  }

  .bg-red-900--md {
    background-color: #aa0000;
  }

  .bg-pink-900--md {
    background-color: #9e0e4e;
  }

  .bg-purple-900--md {
    background-color: #8800cc;
  }

  .bg-deep-purple-900--md {
    background-color: #4e00bb;
  }

  .bg-indigo-900--md {
    background-color: #0125f0;
  }

  .bg-blue-900--md {
    background-color: #003fed;
  }

  .bg-light-blue-900--md {
    background-color: #0074bb;
  }

  .bg-cyan-900--md {
    background-color: #0074bb;
  }

  .bg-teal-900--md {
    background-color: #009984;
  }

  .bg-green-900--md {
    background-color: #00a042;
  }

  .bg-light-green-900--md {
    background-color: #50b112;
  }

  .bg-lime-900--md {
    background-color: #8bbb00;
  }

  .bg-yellow-900--md {
    background-color: #ccab00;
  }

  .bg-amber-900--md {
    background-color: #cc8900;
  }

  .bg-orange-900--md {
    background-color: #cc5700;
  }

  .bg-deep-orange-900--md {
    background-color: #b12300;
  }

  .bg-brown-900--md {
    background-color: #4a332c;
  }

  .bg-grey-900--md {
    background-color: #4e4e4e;
  }

  .bg-blue-grey-900--md {
    background-color: #374850;
  }

  .bg-black-900--md {
    background-color: black;
  }

  .bg-white-900--md {
    background-color: #cccccc;
  }
}
@media (min-width: 900px) {
  .bg-red--lg {
    background-color: #d50000;
  }

  .bg-pink--lg {
    background-color: #c51162;
  }

  .bg-purple--lg {
    background-color: #aa00ff;
  }

  .bg-deep-purple--lg {
    background-color: #6200ea;
  }

  .bg-indigo--lg {
    background-color: #304ffe;
  }

  .bg-blue--lg {
    background-color: #2962ff;
  }

  .bg-light-blue--lg {
    background-color: #0091ea;
  }

  .bg-cyan--lg {
    background-color: #0091ea;
  }

  .bg-teal--lg {
    background-color: #00bfa5;
  }

  .bg-green--lg {
    background-color: #00c853;
  }

  .bg-light-green--lg {
    background-color: #64dd17;
  }

  .bg-lime--lg {
    background-color: #aeea00;
  }

  .bg-yellow--lg {
    background-color: #ffd600;
  }

  .bg-amber--lg {
    background-color: #ffab00;
  }

  .bg-orange--lg {
    background-color: #ff6d00;
  }

  .bg-deep-orange--lg {
    background-color: #dd2c00;
  }

  .bg-brown--lg {
    background-color: #5d4037;
  }

  .bg-grey--lg {
    background-color: #616161;
  }

  .bg-blue-grey--lg {
    background-color: #455a64;
  }

  .bg-black--lg {
    background-color: #000000;
  }

  .bg-white--lg {
    background-color: #ffffff;
  }

  .bg-red-900--lg {
    background-color: #aa0000;
  }

  .bg-pink-900--lg {
    background-color: #9e0e4e;
  }

  .bg-purple-900--lg {
    background-color: #8800cc;
  }

  .bg-deep-purple-900--lg {
    background-color: #4e00bb;
  }

  .bg-indigo-900--lg {
    background-color: #0125f0;
  }

  .bg-blue-900--lg {
    background-color: #003fed;
  }

  .bg-light-blue-900--lg {
    background-color: #0074bb;
  }

  .bg-cyan-900--lg {
    background-color: #0074bb;
  }

  .bg-teal-900--lg {
    background-color: #009984;
  }

  .bg-green-900--lg {
    background-color: #00a042;
  }

  .bg-light-green-900--lg {
    background-color: #50b112;
  }

  .bg-lime-900--lg {
    background-color: #8bbb00;
  }

  .bg-yellow-900--lg {
    background-color: #ccab00;
  }

  .bg-amber-900--lg {
    background-color: #cc8900;
  }

  .bg-orange-900--lg {
    background-color: #cc5700;
  }

  .bg-deep-orange-900--lg {
    background-color: #b12300;
  }

  .bg-brown-900--lg {
    background-color: #4a332c;
  }

  .bg-grey-900--lg {
    background-color: #4e4e4e;
  }

  .bg-blue-grey-900--lg {
    background-color: #374850;
  }

  .bg-black-900--lg {
    background-color: black;
  }

  .bg-white-900--lg {
    background-color: #cccccc;
  }
}
@media (min-width: 1200px) {
  .bg-red--xl {
    background-color: #d50000;
  }

  .bg-pink--xl {
    background-color: #c51162;
  }

  .bg-purple--xl {
    background-color: #aa00ff;
  }

  .bg-deep-purple--xl {
    background-color: #6200ea;
  }

  .bg-indigo--xl {
    background-color: #304ffe;
  }

  .bg-blue--xl {
    background-color: #2962ff;
  }

  .bg-light-blue--xl {
    background-color: #0091ea;
  }

  .bg-cyan--xl {
    background-color: #0091ea;
  }

  .bg-teal--xl {
    background-color: #00bfa5;
  }

  .bg-green--xl {
    background-color: #00c853;
  }

  .bg-light-green--xl {
    background-color: #64dd17;
  }

  .bg-lime--xl {
    background-color: #aeea00;
  }

  .bg-yellow--xl {
    background-color: #ffd600;
  }

  .bg-amber--xl {
    background-color: #ffab00;
  }

  .bg-orange--xl {
    background-color: #ff6d00;
  }

  .bg-deep-orange--xl {
    background-color: #dd2c00;
  }

  .bg-brown--xl {
    background-color: #5d4037;
  }

  .bg-grey--xl {
    background-color: #616161;
  }

  .bg-blue-grey--xl {
    background-color: #455a64;
  }

  .bg-black--xl {
    background-color: #000000;
  }

  .bg-white--xl {
    background-color: #ffffff;
  }

  .bg-red-900--xl {
    background-color: #aa0000;
  }

  .bg-pink-900--xl {
    background-color: #9e0e4e;
  }

  .bg-purple-900--xl {
    background-color: #8800cc;
  }

  .bg-deep-purple-900--xl {
    background-color: #4e00bb;
  }

  .bg-indigo-900--xl {
    background-color: #0125f0;
  }

  .bg-blue-900--xl {
    background-color: #003fed;
  }

  .bg-light-blue-900--xl {
    background-color: #0074bb;
  }

  .bg-cyan-900--xl {
    background-color: #0074bb;
  }

  .bg-teal-900--xl {
    background-color: #009984;
  }

  .bg-green-900--xl {
    background-color: #00a042;
  }

  .bg-light-green-900--xl {
    background-color: #50b112;
  }

  .bg-lime-900--xl {
    background-color: #8bbb00;
  }

  .bg-yellow-900--xl {
    background-color: #ccab00;
  }

  .bg-amber-900--xl {
    background-color: #cc8900;
  }

  .bg-orange-900--xl {
    background-color: #cc5700;
  }

  .bg-deep-orange-900--xl {
    background-color: #b12300;
  }

  .bg-brown-900--xl {
    background-color: #4a332c;
  }

  .bg-grey-900--xl {
    background-color: #4e4e4e;
  }

  .bg-blue-grey-900--xl {
    background-color: #374850;
  }

  .bg-black-900--xl {
    background-color: black;
  }

  .bg-white-900--xl {
    background-color: #cccccc;
  }
}
.p-0--sm {
  padding: 0px;
}

.p-4--sm {
  padding: 4px;
}

.p-8--sm {
  padding: 8px;
}

.p-12--sm {
  padding: 12px;
}

.p-16--sm {
  padding: 16px;
}

.p-20--sm {
  padding: 20px;
}

.p-24--sm {
  padding: 24px;
}

.p-32--sm {
  padding: 32px;
}

.p-40--sm {
  padding: 40px;
}

.p-48--sm {
  padding: 48px;
}

.p-64--sm {
  padding: 64px;
}

.p-80--sm {
  padding: 80px;
}

@media (min-width: 500px) {
  .p-0--md {
    padding: 0px;
  }

  .p-4--md {
    padding: 4px;
  }

  .p-8--md {
    padding: 8px;
  }

  .p-12--md {
    padding: 12px;
  }

  .p-16--md {
    padding: 16px;
  }

  .p-20--md {
    padding: 20px;
  }

  .p-24--md {
    padding: 24px;
  }

  .p-32--md {
    padding: 32px;
  }

  .p-40--md {
    padding: 40px;
  }

  .p-48--md {
    padding: 48px;
  }

  .p-64--md {
    padding: 64px;
  }

  .p-80--md {
    padding: 80px;
  }
}
@media (min-width: 900px) {
  .p-0--lg {
    padding: 0px;
  }

  .p-4--lg {
    padding: 4px;
  }

  .p-8--lg {
    padding: 8px;
  }

  .p-12--lg {
    padding: 12px;
  }

  .p-16--lg {
    padding: 16px;
  }

  .p-20--lg {
    padding: 20px;
  }

  .p-24--lg {
    padding: 24px;
  }

  .p-32--lg {
    padding: 32px;
  }

  .p-40--lg {
    padding: 40px;
  }

  .p-48--lg {
    padding: 48px;
  }

  .p-64--lg {
    padding: 64px;
  }

  .p-80--lg {
    padding: 80px;
  }
}
@media (min-width: 1200px) {
  .p-0--xl {
    padding: 0px;
  }

  .p-4--xl {
    padding: 4px;
  }

  .p-8--xl {
    padding: 8px;
  }

  .p-12--xl {
    padding: 12px;
  }

  .p-16--xl {
    padding: 16px;
  }

  .p-20--xl {
    padding: 20px;
  }

  .p-24--xl {
    padding: 24px;
  }

  .p-32--xl {
    padding: 32px;
  }

  .p-40--xl {
    padding: 40px;
  }

  .p-48--xl {
    padding: 48px;
  }

  .p-64--xl {
    padding: 64px;
  }

  .p-80--xl {
    padding: 80px;
  }
}
.m-0--sm {
  margin: 0px;
}

.m-4--sm {
  margin: 4px;
}

.m-8--sm {
  margin: 8px;
}

.m-12--sm {
  margin: 12px;
}

.m-16--sm {
  margin: 16px;
}

.m-20--sm {
  margin: 20px;
}

.m-24--sm {
  margin: 24px;
}

.m-32--sm {
  margin: 32px;
}

.m-40--sm {
  margin: 40px;
}

.m-48--sm {
  margin: 48px;
}

.m-64--sm {
  margin: 64px;
}

.m-80--sm {
  margin: 80px;
}

@media (min-width: 500px) {
  .m-0--md {
    margin: 0px;
  }

  .m-4--md {
    margin: 4px;
  }

  .m-8--md {
    margin: 8px;
  }

  .m-12--md {
    margin: 12px;
  }

  .m-16--md {
    margin: 16px;
  }

  .m-20--md {
    margin: 20px;
  }

  .m-24--md {
    margin: 24px;
  }

  .m-32--md {
    margin: 32px;
  }

  .m-40--md {
    margin: 40px;
  }

  .m-48--md {
    margin: 48px;
  }

  .m-64--md {
    margin: 64px;
  }

  .m-80--md {
    margin: 80px;
  }
}
@media (min-width: 900px) {
  .m-0--lg {
    margin: 0px;
  }

  .m-4--lg {
    margin: 4px;
  }

  .m-8--lg {
    margin: 8px;
  }

  .m-12--lg {
    margin: 12px;
  }

  .m-16--lg {
    margin: 16px;
  }

  .m-20--lg {
    margin: 20px;
  }

  .m-24--lg {
    margin: 24px;
  }

  .m-32--lg {
    margin: 32px;
  }

  .m-40--lg {
    margin: 40px;
  }

  .m-48--lg {
    margin: 48px;
  }

  .m-64--lg {
    margin: 64px;
  }

  .m-80--lg {
    margin: 80px;
  }
}
@media (min-width: 1200px) {
  .m-0--xl {
    margin: 0px;
  }

  .m-4--xl {
    margin: 4px;
  }

  .m-8--xl {
    margin: 8px;
  }

  .m-12--xl {
    margin: 12px;
  }

  .m-16--xl {
    margin: 16px;
  }

  .m-20--xl {
    margin: 20px;
  }

  .m-24--xl {
    margin: 24px;
  }

  .m-32--xl {
    margin: 32px;
  }

  .m-40--xl {
    margin: 40px;
  }

  .m-48--xl {
    margin: 48px;
  }

  .m-64--xl {
    margin: 64px;
  }

  .m-80--xl {
    margin: 80px;
  }
}

/*# sourceMappingURL=index.css.map */
