
@use "functions/colors";

// conf = configuration

$grid: (
    "0":0 / 12 * 100%,
    "1":1 / 12 * 100%,
    "2":2 / 12 * 100%,
    "3":3 / 12 * 100%,
    "4":4 / 12 * 100%,
    "5":5 / 12 * 100%,
    "6":6 / 12 * 100%,
    "7":7 / 12 * 100%,
    "8":8 / 12 * 100%,
    "9":9 / 12 * 100%,
    "10":10 / 12 * 100%,
    "11":11 / 12 * 100%,
    "12":12 / 12 * 100%,
    "auto":auto
);

$whitespaceScale: (
    "0":0px,
    "4":4px,
    "8":8px,
    "12":12px,
    "16":16px,
    "20":20px,
    "24":24px,
    "32":32px,
    "40":40px,
    "48":48px,
    "64":64px,
    "80":80px
);

$hues: (
    "red":#d50000,
    "pink":#c51162,
    "purple":#aa00ff,
    "deep-purple":#6200ea,
    "indigo":#304ffe,
    "blue":#2962ff,
    "light-blue":#0091ea,
    "cyan":#0091ea,
    "teal":#00bfa5,
    "green":#00c853,
    "light-green":#64dd17,
    "lime":#aeea00,
    "yellow":#ffd600,
    "amber":#ffab00,
    "orange":#ff6d00,
    "deep-orange":#dd2c00,
    "brown":#5d4037,
    "grey":#616161,
    "blue-grey":#455a64,
    "black": #000000,
    "white": #ffffff
);

// this adds in 100,200,300, etc.
$colors: colors.colorScale($hues);