@use "sass:map";
@use "sass:color";

@function color ($colors,$type,$lightness) {
    $newColorScale: $colors;

    @each $colorName, $color in $colors {
        $colorClassName: "#{$colorName}-#{$type}";
        $adjustedColor: color.scale($color,$lightness: $lightness);

        $newColorScale: map.merge(
            $newColorScale, 
            ("#{$colorClassName}": $adjustedColor)
        )
    }

    @return $newColorScale;
}

@function colorScale ($colors) {
    $newColorScale: $colors;

    $newColorScale: color($newColorScale,"100",60%);
    $newColorScale: color($newColorScale,"200",50%);
    $newColorScale: color($newColorScale,"300",40%);
    $newColorScale: color($newColorScale,"400",30%);
    $newColorScale: color($newColorScale,"500",20%);
    $newColorScale: color($newColorScale,"600",10%);
    $newColorScale: color($newColorScale,"700",0%);
    $newColorScale: color($newColorScale,"800",-10%);
    $newColorScale: color($newColorScale,"900",-20%);

    @return $newColorScale;
}