@use "sass:map";
@use "sass:color";

@function color ($colors,$type,$lightness) {
    $newColorScale: $colors;

    @each $colorName, $color in $colors {
        $colorClassName: "#{$colorName}-#{$type}";
        $adjustedColor: color.scale($color,$lightness: $lightness);

        $newColorScale: map.merge(
            $newColorScale, 
            ("#{$colorClassName}": $adjustedColor)
        )
    }

    @return $newColorScale;
}

@function colorScale ($colors) {
    $newColorScale: $colors;
    
    $newColorScale: color($colors,"100",60%);
    $newColorScale: color($colors,"200",50%);
    $newColorScale: color($colors,"300",40%);
    $newColorScale: color($colors,"400",30%);
    $newColorScale: color($colors,"500",20%);
    $newColorScale: color($colors,"600",10%);
    $newColorScale: color($colors,"700",0%);
    $newColorScale: color($colors,"800",-10%);
    $newColorScale: color($colors,"900",-20%);

    @return $newColorScale;
}